//color
$white: #fff;
$black: #000;
$primary-color: #3498db;
$danger-color: #e74c3c;
$background-color: #ffe6c9;
$text-color: #333333;
$inactive-color: #dcdcdc;
$highlight-color: #007bff;
$purple-color: #73114b;
$grey: #828282;
$dark-grey: #525252;

//breakpoints
$phone: 375px;
$table: 768px;
$laptop: 1024px;
$desktop: 1920px;

